# Backend API Base URL
VITE_API_BASE_URL=http://localhost:5000/api/v1

# Use Mock Mode when backend is offline or during testing
VITE_USE_MOCKS=false

# Application Environment
VITE_APP_ENV=development
